In [1]:
# break : 반복문 탈출
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [2]:
balance = 10000
interest = 0.05
yr = 0
for i in range(100000):
    balance += balance*interest
    yr += 1
    print(f'# of Year = {yr}')
    print(f'Current balance = {balance}')
    print('')
    if balance > 20000:
        break

# of Year = 1
Current balance = 10500.0

# of Year = 2
Current balance = 11025.0

# of Year = 3
Current balance = 11576.25

# of Year = 4
Current balance = 12155.0625

# of Year = 5
Current balance = 12762.815625

# of Year = 6
Current balance = 13400.95640625

# of Year = 7
Current balance = 14071.0042265625

# of Year = 8
Current balance = 14774.554437890625

# of Year = 9
Current balance = 15513.282159785156

# of Year = 10
Current balance = 16288.946267774414

# of Year = 11
Current balance = 17103.393581163135

# of Year = 12
Current balance = 17958.56326022129

# of Year = 13
Current balance = 18856.491423232354

# of Year = 14
Current balance = 19799.31599439397

# of Year = 15
Current balance = 20789.28179411367

In [3]:
# continue : 반복문 맨 처음으로 이동
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [4]:
# continue example
temp = [19, 19, 20, -10, 20, 19]
for t in temp:
    if t < 0:
        continue
    print(f'T = {t}')

T = 19
T = 19
T = 20
T = 20
T = 19